@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<FullName FirstName="@FirstName" LastName="Bernasconi"></FullName>

@code {
    public string FirstName { get; set; } = "Claudio";
}