@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Revenue Amount="125_000"></Revenue>
<Revenue Amount="460_000"></Revenue>
<Revenue Amount="790_000"></Revenue>

<Greeting Name="Claudio"></Greeting>