<div style="background-color: lightblue">
    <p style="padding: 20px">
        Learn more about .NET development on my
        <a href="https://www.claudiobernasconi.ch" target="_blank">website</a>
        or on my <a href="https://youtube.com/claudiobernasconi">YouTube channel</a>.
    </p>
</div>